
<div class="container" id="formulaire">

<h1>Nouvelle dose pour <%= @cocktail.name %></h1>


<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :ingredient_id, collection: @ingredients %>
  <%= f.input :description %>
  <%= f.submit "nouvelle dose d'ingrédient", class: "btn btn-primary"%>
<% end %>

</div>
